* {
    font-family: sans-serif;
}

body {
    margin: 0;
}

#main {
    max-width: 950px;
    margin: auto;
    padding: 5px;
}

#main img {
    max-width: 100%;
}

#main table {
    width: 100%;
}

header {
    max-width: 950px;
    margin-top: 30px;
    margin: auto;
    padding: 20px;  
    color: #1f1c1c;
    font-weight: bolder;
    font-size: 2.5em;
    text-align: center;
    border-bottom: 1px solid lightgrey;
    
    
    padding-top: 0px;
    vertical-align: text-top;
    
    font-size: 70px;
    font-weight: 400;
    letter-spacing: 10px;
    text-shadow: 3px 3px #666;
}

header a {
    color: #1f1c1c;
    text-decoration: none;
  }

header a span {
    display: none;
}

header a:hover span {
    display: inline;
}

header a span.first {
    color: hsl(0, 30%, 80%);
}

header span.second {
    color: hsl(127, 30%, 80%);
}

header span.third {
    color: hsl(255, 30%, 80%);
}


.strong {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}

a:link {
    color: #61259e;
}

footer {
    max-width: 950px;
    margin: auto;
    color: lightgray;
    text-align: center;
    border-top: 1px solid lightgrey;
}

footer a {
    color: darkgrey;
}

.agenda td {
    height: 3em;
    padding: 5px;
}

.agenda td:nth-child(1) {
    text-align: center;
}

.agenda td:nth-child(2).admin {
    background-color: hsla(0, 50%, 80%, 0.5);
}

.agenda td:nth-child(2).presentation {
    background-color: hsla(64, 50%, 80%, 0.5);
}

.agenda td:nth-child(2).highlight {
    background-color: hsla(128, 50%, 80%, 0.5);
}

.agenda td:nth-child(2) {
    background-color: hsla(0, 0%, 80%, 0.5);
}

#serviceswrap {
    background: url(../img/fayol-header.png) no-repeat center top;
    margin-top: -1px;
    padding-top: 20px;
    text-align: center;
    background-attachment: relative;
    background-position: center center;
    min-height: 246px;
    width: 100%;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#headert {
    margin-top: 30px;
    padding-top: 25px;
    margin-left: -50px;
}

.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.logo {
    max-width: 300px;
    max-height: 180px;
}
