<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>SeReCo | {{ page.title }}</title>
    <link rel="stylesheet" href="/css/default.css">
  </head>
  <body>
    <header>
     <div id="serviceswrap"> 
       <div id="headert">
      <a href="#">Se<span class="first">mantics</span></a><a href="#">Re<span class="second">asoning</span></a><a href="#">Co<span class="third">ordination</span></a>
       </div>
      </div></header>
    <!-- <nav>
      <a href="/">Home</a>
    </nav> -->
    <section id="main">
      {{ content }}
    </section>
    <footer>
      <p>
        SeReCo is funded by <a href="https://www.dfh-ufa.org/">DFH-UFA (French-German University)</a>.
        <div class="row md">
    <div><a href="https://www.fau.de/"><img class="logo" src="img/Friedrich-Alexander-Universität_Erlangen-Nürnberg_logo.svg.png" height="40"></img></a></div>
    <div><a href="https://www.kit.edu/"><img class="logo" src="img/Logo_KIT.svg.png" height="60"></img></a></div>
    <div><a href="https://www.unisg.ch/"><img class="logo" src="img/Université_de_Saint-Gall_(logo).svg.png" height="60"></img></a></div>
    <div><a href="https://www.mines-stetienne.fr/"><img class="logo" src="img/logos-mines-ST.png"  height="80"></img></a></div>
    <div><a href="https://www.univ-st-etienne.fr/"><img class="logo" src="img/logo-univ-ste.png"  height="70"></img></a></div>
</div>
      </p>
    </footer>
  </body>
</html>
